<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flag Dataset - Predict Religion</title>
    <style>
        
form {
    margin: auto;
    width: 35%;
}
.centered {
    text-align: center;
    vertical-align: middle;
        }
.result {
    margin: auto;
    width: 75%;
    border: 1px solid #ccc;
}
table, th, td {
  border: 1px solid black;
}
</style>
</head>
<body>
    <div class="centered">
<h3> Machine learning algorithm to predict religion [flags dataset]</h3>
    </div>
<form action="{{ url_for('main') }}" method="POST">
     <fieldset>
        <legend>Input values:</legend>
         <table>
             <tr>
                 <td>
                     Landmass:
                 </td>
                 <td>
                     <input name="landmass" type="number" required>
                 </td>
             </tr>
             <tr>
                 <td>
                     Zone:
                 </td>
                 <td>
                     <input name="zone" type="number" required>
                 </td>
             </tr>
             <tr>
                 <td>
                        Area:
                 </td>
                 <td>
                         <input name="area" type="number" required>
                 </td>
             </tr>
             <tr>
                 <td>
                     Population:
                 </td>
                 <td>
                     <input name="population" type="number" required>
                 </td>
             </tr>
             <tr>
                 <td>
                     Language:
                 </td>
                 <td>
                      <input name="language" type="number" required>
                 </td>
             </tr>


         </table>
<br/>
        <input type="submit">
         <br/>
    </fieldset>
    <br/>
    <br/>
    <div class="result" align="center">
    {% if result %}
        {% for variable, value in original_input.items() %}
            <b>{{ variable }}</b> : {{ value }} <br/>
        {% endfor %}
        <br>
        <br> Predicted religion:
           <p style="font-size:50px">{{ result }}</p>
    {% endif %}
    </div>
</form>
</body>
</html>
